<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="/css/stats.css">
</head>
<html>

    <body onload="">
    
        <div id="main">

            <div id="thePlayer">
                <h2 id="username"> <%= user.username.toUpperCase() %> </h2>
            </div>
        
        
            <div id="warStats">
        
                <div id="weaponBox">
                    <h3><u>Favorite Weapon</u></h3>
                    <img src="" alt="gunPic" id="gun">
                    <p><%= user.gun %></p>
                </div>
        
                <div id="agentBox">
                    <img src="" alt="agentPic" id="agent">
                    <p><%= user.agent %></p>
                </div>
        
                <div id="rankBox">
                    <h3><u>Current Rank</u></h3>
                    <img src="" alt="rankPic" id="rank">
                    <p><%= user.rank %></p>
                </div>
        
            </div>
        
            <div id="statsBox">
                <div id="kd">Kill/Death: <%= user.kd %></div>
                <div id="winrate">Win Rate: <%= user.winRate %>%</div>
            </div>
                
        </div>

    </body>
</html>

<script>
    let string = '<%- JSON.stringify(user) %>'
    let user = JSON.parse(string)

    document.getElementById('gun').src = '/assets/guns/' +  user.gun + '.webp'
    document.getElementById('agent').src = '/assets/agents/' + user.agent + '.png'
    document.getElementById('rank').src = '/assets/ranks/' + user.rank + '.png'
</script>

