<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
</head>

<body>

    <div id="main">
        
        <div id="thePlayer">
            <h5> <%= user.username %> </h5>
        </div>
    
    
        <div id="warStats">
    
            <div id="weaponBox">
                <img src="" alt="gunPic">
                <p><%= user.gun %></p>
            </div>
    
            <div id="agentBox">
                <img src="" alt="agentPic">
                <p><%= user.agent %></p>
            </div>
    
            <div id="rankBox">
                <img src="" alt="rankPic">
                <p><%= user.rank %></p>
            </div>
    
        </div>
    
        <div id="statsBox">
            <div id="kd">K/D: <%= user.kd %></div>
            <div id="winrate">W/L: <%= user.winRate %>%</div>
        </div>
       
    </div>









</body>

<style>
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
#main{
    background-color: grey;
    width: 75%;
    border-radius: 10px;
    padding: 20px;
}
#thePlayer{
    display: flex;
    justify-content: center;
}
#warStats{
    display: flex;
    justify-content: space-around;
    
}
#statsBox{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
</style>