<html>
    <body>
        <h2>Your Pokedex </h2>
        <ul>
            <!-- Using ejs to display backend data on our frontend html files that are being displayed by the browser -->
          
                <li> Username: <%= user.username %>  </li>
                <li> Agent: <%= user.agent %></li>
                <li> Gun: <%= user.gun %></li>
                <li> Rank: <%= user.rank %></li>
                <li> K/D: <%= user.kd %></li>
                <li> W/L: <%= user.winRate %></li>
          
        </ul>
    </body>
</html>